@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Nunito+Sans:wght@300;400;600&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 900;
    color: #1b1b20;
}
body {
    line-height: 1.5;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-light .navbar-brand {
    color: rgba(0,0,0,.9);
}
.col-lg-2, .col-sm-6{
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
img {
    vertical-align: middle;
    border-style: none;
}
.dropdown-menu {
    z-index: 1000;
    display: none;
    min-width: 10rem;
    margin: 0.125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
}

/* extra bar */
.extra-bar {
    background-color: #25cf60;
    color: #fff;
    padding: 1rem;
    text-align: center;
    position: relative;
    z-index: 1222;
}
.extra-bar a {
    font-weight: 700;
    color: #fff;
}


/* navbar section */
#mainNav {
    padding: 1.25rem 1rem;
    background-color: #fff;
    box-shadow: -1px 4px 10px 0 rgb(0 0 0 / 10%);
    position: sticky;
    z-index: 1000;
}

#mainNav .navbar-brand img {
    max-width: 140px;
}
#mainNav .navbar-toggler-right {
    border: none;
    color: rgba(0,0,0,.5);
}
#mainNav .navbar-collapse {
    text-align: center;
}
#mainNav .menu-1 {
    margin-left: unset;
    margin: auto;
}
#mainNav .menu-2 {
    margin-left: unset!important;
}
#mainNav .navbar-nav li.nav-item {
    margin-left: 0.7rem;
}
#mainNav .navbar-nav .dropdown-hover .dropdown-menu {
    left: 0;
    top: 2rem!important;
    border-radius: 8px;
    border: none;
    box-shadow: 0 2px 4px 2px rgb(0 0 0 / 7%);
    padding: 0!important;
    width: 250px;
}
#mainNav .navbar-nav .dropdown-hover .dropdown-box {
    display: flex;
    align-items: center;
    max-height: 40px;
    padding: 0.25rem 2rem 0.25rem 0.3rem;
}
#mainNav .navbar-nav .dropdown-hover img {
    padding: 1rem;
}


#mainNav .navbar-nav .dropdown-hover {
    position: relative;
}
#mainNav .navbar-nav>li.nav-item>a.nav-link, #mainNav .navbar-nav>li.nav-item>a.nav-link:focus {
    font-size: 16px;
    font-weight: 600;
    color: #1b1b20;
}
#mainNav .navbar-nav .dropdown-hover .dropdown-toggle {
    background-color: transparent!important;
    border: none!important;
    cursor: pointer;
}
#mainNav .navbar-nav>li.nav-item>a.nav-link {
    font-size: 16px;
    font-weight: 600;
    color: #1b1b20;
}
#mainNav .navbar-nav>li.nav-item>a.nav-link:focus .dropdown-menu {
    display: block;
}
#mainNav .navbar-nav .dropdown-hover .dropdown-toggle::after {
    margin-left: 15px!important;
    vertical-align: inherit!important;
}
.dropdown-toggle::after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-left: 0.3em solid transparent;
}
#mainNav .navbar-nav .dropdown-hover .dropdown-box:hover {
    background-color: #25cf60;
    border-radius: 8px;
}
#mainNav .menu-2 li.nav-item a.nav-link.btn-menu-register {
    padding: 15px 40px;
    color: #fff;
    font-weight: 700;
}
#mainNav .menu-2 li.nav-item a.nav-link {
    border-radius: 26px;
}
#mainNav .menu-2 li.nav-item .selective {
    background-color: #f7b801;
}
#mainNav .menu-2 li.nav-item a.nav-link.btn-menu-register {
    padding: 15px 40px;
    color: #fff;
    font-weight: 700;
}
.navbar>.container, .navbar>.container-fluid {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

/* demo header page & calendly section */
#top .backgroundTop {
    background-image: url(/img/backgroundTop.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.homepage #top {
    padding-bottom: 4rem;
}
section #top {
    padding: 6rem 0 6rem 0;
}
section {
    display: block;
}
.homepage #top .container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 0;
    margin-right: 0;
}
#top .container .row {
    justify-content: center;
}
#top .container .row .left {
    padding: 3rem;
    border-radius: 6px;
    backdrop-filter: blur(3px);
    background-color: rgba(255,255,255,0.9);
}
.col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%;
}
section#top>.container>.row h1.seoHeader {
    font-family: "Nunito Sans",sans-serif;
    color: #1b1b20;
    font-size: 14px;
    font-weight: 700;
}
section#top>.container>.row h1, section#top>.container>.row h2.subheader {
    font-weight: 700;
    color: #1b1b20;
    font-size: 52px;
    line-height: 1.1;
    width: 93%;
    margin-right: auto;
}
h2 {
    letter-spacing: 0;
    cursor: default;
    font-family: lato, sans-serif;
}
section#top>.container>.row h1, section#top>.container>.row h2.subheader {
    font-weight: 700;
    color: #1b1b20;
    font-size: 52px;
    line-height: 1.1;
    width: 93%;
    margin-right: auto;
}
h2.subheader {
    font-size: 17px;
    font-weight: 300;
    line-height: 1.5em;
    margin-top: 20px;
}
h2{
    letter-spacing: 0;
    cursor: default;
    font-family: "Lato",sans-serif;
}

section#top>.container>.row .ue-hero-main ul.top_list,
section#top>.container>.row .col-ld-6 ul.top_list, 
section#top>.container>.row .col-md-6 ul.top_list {
    padding: 1rem;
    margin-bottom: 2rem;
}
#top>.container>.row .col-md-6 .form .form-wrapper {
    margin-bottom: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.free-demo .free-demo__calendly {
    padding: 4rem 0;
}
.free-demo .free-demo__calendly .free-demo__calendly-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 5rem;
}
.free-demo .free-demo__calendly .free-demo__calendly-wrapper .free-demo__calendly-wrapper--head {
    position: relative;
}
.free-demo .free-demo__calendly .free-demo__calendly-wrapper .free-demo__calendly-wrapper--head h2 {
    font-size: 48px;
    font-weight: 800;
    margin-bottom: 2rem;
}
.free-demo .free-demo__calendly .free-demo__calendly-wrapper .free-demo__calendly-wrapper--head img {
    position: absolute;
    right: 30%;
    top: 50%;
}
.free-demo .free-demo__calendly .free-demo__calendly-wrapper .wrapper .free-demo__calendly--checks {
    display: flex;
    align-items: baseline;
    margin-right: 1.5rem;
}
.free-demo .free-demo__calendly .free-demo__calendly-wrapper .wrapper .free-demo__calendly--checks img {
    margin-left: -3rem;
    padding-right: 30px;
}


/* social proof section */
.free-demo #social-proof {
    background-color: #25cf60;
    width: 100%;
    height: 390px;
    padding-bottom: 0!important;
}
#social-proof .container {
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
}
#social-proof .container .row .col-lg-2 {
    text-align: center;
    margin: 1rem 0;
    align-items: center;
    display: flex;
    justify-content: center;
}
#social-proof .container .row {
    padding-top: 2rem;
    padding-bottom: 1rem;
    display: flex;
    border-bottom: solid 1px #d8d8d8;
}
.free-demo #social-proof .row .social-proof__heading h3 {
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    font-family: nunito sans,sans-serif;
    text-align: center;
}
#social-proof .container .row .col-lg-2 {
    text-align: center;
    margin: 1rem 0;
    align-items: center;
    display: flex;
    justify-content: center;

}