@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Nunito+Sans:wght@300;400;600&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 900;
    color: #1b1b20;
}
#top{
  background-color: rgb(224, 217, 217);
  width:100%;
  height:700px;
}

.top1>h1{
  text-align: center;
  margin-top: 280px;
  font-size: 40px;
  font-weight: 600;
}
.top1>p{
  text-align: center;
  font-size: 20px;
}

.top1>h2{
  text-align: center;
  font-size:30px
}
#butt{
  width: 220px;
  height: 50px;
  border-radius: 23px;
  border: 0px;
}
#but{
  width: 220px;
  height: 50px;
  border-radius: 23px;
  border: 0px;
}
#butt:hover{
  border: 2px solid #57BB71;
  border-color: #57BB71;
  color: #57BB71;
  background-color: white;
 }
 #but:hover{
  border: 2px solid #57BB71;
  border-color: #57BB71;
  color: #57BB71;
  background-color: white;
 }

  .pricing_first {
    width: 100%;
    height: auto;
    text-align: center;
    margin:auto;
    /* padding-top: 50px;
    margin-left: -8px;
    padding-right: 17px;
    margin-bottom: 30px; */
  
  }
  .pricing_first > h3 {
    color: rgb(164, 243, 111);
  }
  .pricing_first > h1 {
    font-size: 46px;
    text-align: center;
    color: rgb(16, 19, 15);
  }
  .pricing_first > h2 {
    font-size: 28px;
    /* margin-top: -50px; */
    color:rgb(97, 94, 94)
  }
  .pricing_second {
    width: 95%;
    height: auto;
    margin:auto;
    display: flex;
  }
  .line2{
    border-top:1px solid white;
    }
  .line{
  border-top:1px solid green;
  }

  /* ---------------- */


  .pro1 {
    width: 45%;
    margin-right: 40px;
    background-color: white;
    border-radius: 30px;
    height: 700px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    margin-bottom: 100px;
    padding: 20px;
    
  }
  .pro1_h1 > h1 {
    font-size: 63px;
    text-align: center;
    color: green;
  }
  .pro1_h1 > p {
    font-size: 25px;
    text-align: center;
    color: grey;
    margin-top: -20px;
  }
  .pro1_h2>h2 {
    font-size: 22px;
    color:gray;
    margin-top:-2px;
  }
  .pro1_h3 > button {
    width: 100%;
    height: 60px;
    border-radius: 40px;
    border: none;
    font-size: 23px;
    background-color:rgb(37,207,96);
    color: white;
    margin-top: 60px;
  }
  .pro1_h3 > button:hover {
    background-color: rgb(9, 148, 57);
    color: white;
    border: none;
  }
  .pro1_h4 {
    display: flex;
    margin-bottom: -10px;
    font-size:20px;
  }




  /* --------------------- */
  .pro2 {
    width: 45%;
    margin-right: 40px;
    background-color: white;
    border-radius: 30px;
    height: 700px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    margin-bottom: 100px;
    padding: 20px;
    
  }
  .pro2_b1 {
    text-align: center;
  }
  .pro2_b1 > h2 {
    margin-top:-4px;
    font-size: 18px;
    color: rgb(37,207,96);
  }
  .pro2_h2>h1{
    font-size:55px;
    text-align:center;
  }
  .pro2_b2 > p {
    font-size: 24px;
    color: grey;
    text-align: center;
    margin-top: -17px;
  }
  .pro2_s5 > h2 {
    font-size: 22px;
    text-align: center;
    margin-top: 0px;
    font-weight: bold;
    color: grey;
  }
  .pro2_b6 > button {
  
      width: 100%;
      height: 60px;
      border-radius: 40px;
      border: none;
      font-size: 23px;
      background-color:rgb(37,207,96);
      color: white;
      margin-top: 60px;
    }
    .pro2_b6 > button:hover {
      background-color: rgb(9, 148, 57);
      color: white;
      border: none;
    }
    .pro2_h4 {
      display: flex;
      margin-bottom: -10px;
      font-size:20px;
    }


  /* ------------------------ */
  .pro3 {
    width: 45%;
    margin-right: 40px;
    background-color:rgb(37,207,96);
    border-radius: 30px;
    height: 700px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    margin-bottom: 100px;
    padding: 20px;
    
  }
  .pro3_b1 {
    text-align: center;
  }
  .pro3_b1 > h2 {
    margin-top:-4px;
    font-size: 18px;
    color: rgb(9, 24, 14);
  }
  .pro3_h2>h1{
    font-size:55px;
    text-align:center;
  }
  .pro3_b2 > p {
    font-size: 24px;
    color: rgb(7, 6, 6);
    text-align: center;
    margin-top: -17px;
  }
  .pro3_s5 > h2 {
    text-align: center;
    margin-top: 0px;
    font-weight: bold;
    color:white;
  }
  .pro3_b6 > button {
  
      width: 100%;
      height: 60px;
      border-radius: 40px;
      border: none;
      font-size: 23px;
      background-color:rgb(231, 241, 234);
      color: 37,207,96;
      margin-top: 95px;
    }
    .pro3_b6 > button:hover {
      background-color: rgb(242, 247, 244);
      color: 37,207,96;
      border: none;
    }
    .pro3_h4 {
      display: flex;
      margin-bottom: -10px;
      font-size:20px;
    }
    pro3_h4>ul.a{
      font-size:29px;
    }


 /* --------------------    */

  .pro_4 {
    width: 45%;
    margin-right: 40px;
    background-color: white;
    border-radius: 30px;
    height: 700px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    margin-bottom: 100px;
    padding: 20px;
    
  }
  .pro4_b1 {
    text-align: center;
  }
  .pro4_b1 > h2 {
    margin-top:-4px;
    font-size: 18px;
    color: rgb(37,207,96);
  }
  .pro4_h2>h1{
    font-size:55px;
    text-align:center;
  }
  .pro4_b2 > p {
    font-size: 24px;
    color: grey;
    text-align: center;
    margin-top: -17px;
  }
  .pro4_s5 > h2 {
    text-align: center;
    margin-top: 0px;
    font-weight: bold;
    color: grey;
  }
  .pro4_b6 > button {
  
      width: 100%;
      height: 60px;
      border-radius: 40px;
      border: none;
      font-size: 23px;
      background-color:rgb(37,207,96);
      color: white;
      margin-top: 70px;
    }
    .pro4_b6 > button:hover {
      background-color: rgb(9, 148, 57);
      color: white;
      border: none;
    }
    .pro4_h4 {
      display: flex;
      margin-bottom: -10px;
      font-size:20px;
    }
  





  /* ---------------- */


  .bor {
    border: 0.5px solid grey;
    width: 70%;
    margin: 40px auto;
  }

  .SSl{
    width: 100%;
    display: flex;
    justify-content: center;
    gap:30px;
  }
  .SSl>img{
    width:45px;
  }
  .SSl>h2{
    font-size: 20px;
    color:grey;
  }
  .trusted{
    width:100%;
    height: 70px;
    display:flex;
    justify-content:center;
    column-gap: 85px;
  }
  .trusted>img{
    width:auto;
    height:40px;
  
  }
  .bookdemo{
    width: 90%;
    height:auto;
    margin: auto;
    background-color: rgb(243,243,243);
    border-radius: 20px;
  }
  .bookdemo>h1{
 font-size:32px;
 text-align: center;
font-family: sans-serif; 
margin:0px 83.16px 83.142px;
padding: 64px 0px 0px;
}
.bookdemo>h2{
  font-size:17px;
  text-align: center;
  margin:48px 0px 0px;
  font-family: sans-serif;
  padding-bottom:60px;
}
.bookdemobtn{
  display:flex;
  justify-content: center;
  align-items:center;
}
.bookdemobtn > button {
  width: 25%;
  height: 70px;
  border-radius: 40px;
  border: none;
  font-size: 23px;
  background-color:rgb(247,184,1);
  color: white;
  align-items: center;
  margin-bottom: 20px;

}
.bookdemobtn > button:hover {
  background-color: rgb(219, 167, 12);
  color: white;
  border: none;
}
.section_two>h1{
text-align: center;
font-size:49px;
font-family: sans-serif;
}
.Customers{
  width:90%;
  height: 600px;
  margin:auto;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap:15px;
}
.c1{
  width: 80%;
  height:600px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  border-radius: 20px;
}
.c1:nth-child(1){
  font-size:25px;
  text-align: center;
  line-height: 1.15;
  margin: 0px 0px 48px;
}
.c1:nth-child(2){
  font-size:25px;
  text-align:center;
  line-height: 1.15;
  margin: 0px 0px 48px;
}
.c1:nth-child(3){
  font-size:25px;
  text-align: center;
  line-height:1.15;
  margin: 0px 0px 48px;
}
.c1>h1{
  font-size:24px;
  margin:64px 0px 24px;
  font-family: sans-serif;
}
.c1,span{
margin-left: 10px;
}
.Customers>h1{
  font-size:50px;
  font-weight: bold;
  text-align: center;
  
}

.section_two{
  width:90%;
  height: 700px;
  margin:auto;
  display: grid;
}
.fit{
  width:100%;
  /* margin: 0px 0px 96px; */

}
.fit>h1{
  text-align: center;
  font-size: 40px;
  font-family:sans-serif;


}
 /* second part */

.sec_241 > button {
  width: 150px;
  height: 45px;
  border-radius: 50px;
  border: none;
  color: white;
  background-color: rgb(0, 146, 255);
  font-weight: bold;
}
.sec_241 > button:hover {
  width: 150px;
  height: 45px;
  border-radius: 50px;
  border: none;
  color: white;
  font-weight: bold;
  background-color: rgb(0, 146, 255);
}
.sec_241 > button:hover {
  background-color: rgb(0, 146, 255);
}
.head{
  text-align: center;
}

.row4>th{
  padding:40px ;
  text-align:center;
  background-color:white;
}
#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td,
#customers th {
  border: 1px solid #ddd;
  padding: 15px;
  text-align: center;
}

#customers tr:nth-child(even) {
  background-color: #f2f2f2;
}

#customers tr:hover {
  background-color: #ddd;
}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  /* background-color: #121212; */
  color: rgb(35, 32, 32);
}

#mains {
  width: 70%;
  margin: auto;
}
.free{
  font-size:25px;
}
.Basic{
  font-size: 25px;
}
.pro{
  font-size:25px;
}

.container{
  margin-right:auto;
  margin-left:auto;
  padding-right:15px;
  padding-left:15px;
  width:90%;

}
.row2{
  display:flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
 .col-md-12{
  position: relative;
    width: 90%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px
}

#track{
  width:80%;
  margin:auto;
  height: auto;
}
.tracking{
  width:auto;
  height:300px ;
  display: flex;
  justify-content: center;
  gap: 30px;
  background-color:rgba(224, 215, 215, 0.829);
  border-radius:55px;
  size: 10px;
  font-size: 20px;
  align-items: center;
}


 
.trackingbtn{
  display:flex;
  justify-content: center;
  align-items:center;
}
.trackingbtn > button {
  width: 300px;
  height: 80px;
  border-radius: 40px;
  border: none;
  font-size: 22px;
font-family: sans-serif;
  background-color:rgb(247,184,1);
  color: rgb(12, 11, 11);
  /* margin-top: 60px; */
  align-items: center;

}
.trackingbtn > button:hover {
  background-color: rgb(219, 167, 12);
  color: white;
  border: none;
}


.text1>h1{
  font-size:40px;
}
.row{
  display:flex;
  justify-content: space-between;
  margin-top: 50px;

}

.right{
  display: flex;
  justify-content: end;
  margin-bottom:200px;
}


#prizes .container .row .left .wrapper {
  justify-content:left;
  display: flex;
  margin-top:50px;
}

@media(min-width: 768px) and (max-width:991px) {
  #prizes .container .row .left .wrapper {
      justify-content:space-around
  }
}

#prizes .container .row .left .wrapper img {
  margin-bottom: 1rem;
  box-shadow: 9px 7px 50px 0 rgba(101,105,167,.08);
  width: 95%;
  height: 88%
}

#prizes .container .row .left .wrapper img:hover {
  box-shadow: 2px -3px 26px 0 rgba(200,215,243,.5)
}

#prizes .container .row .right {
  display: flex;
  align-items: center;
  flex-direction: column
}

@media(max-width: 991px) {
  #prizes .container .row .right {
      margin-bottom:6rem
  }
}

#prizes .container .row .right .text1,#prizes .container .row .right .medals-wrapper {
  width: 90%;
  margin-left: auto
}

@media(max-width: 767px),(min-width:768px) and (max-width:991px) {
  #prizes .container .row .right .text1,#prizes .container .row .right .medals-wrapper {
      width:100%;
      text-align: center
  }
}

#prizes .container .row .right .text1 h1 {
  font-size: 36px;
  font-weight: 700;
  width: 67%
}
.col>img{
  width:300px;
  height:180px;
}
.wrapper{
  width:400px;
  height:200px;
  gap:20px;
}
.medals-wrapper{

  gap:20px;
}
@media(max-width: 767px),(min-width:768px) and (max-width:991px) {
  #prizes .container .row .right .text1 h1 {
      width:100%;
      text-align: center
  }
}

#prizes .container .row .right .text1 p {
  margin: 2rem 0;
  color: #1b1b20;
  font-size: 18px;
  font-weight: 600
}

#prizes .container .row .right .medals-wrapper {
  display: flex
}

@media(max-width: 767px) {
  #prizes .container .row .right .medals-wrapper {
      display:block
  }
}

#prizes .container .row .right .medals-wrapper .special-logo {
  display: flex;
  align-items: center
}

@media(max-width: 767px) {
  #prizes .container .row .right .medals-wrapper .special-logo {
      justify-content:center
  }
}

@media(max-width: 767px),(min-width:768px) and (max-width:991px) {
  #prizes .container .row .right .medals-wrapper .col {
      margin-bottom:1rem
  }
}

#prizes .container .row .right .medals-wrapper .col img {
  width: 100%
}
#integrations .container .row .col-lg-7 img {
  width: 52px;
  height: 52px
}

.container .row .col-lg-7 .white-bg {
  margin-bottom: 2rem;
  margin-left: 4rem;
  width: 120px;
  height: 120px;
  border-radius: 31px;
  transition: all .2s ease-in-out;
  background-color: #fff;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  position: relative;
  box-shadow: 4px 2px 16px 0 rgba(0,0,0,.06)
}

 .container .row .col-lg-7 .white-bg:hover {
  box-shadow: 2px -3px 26px 0 rgba(200,215,243,.5)
}

 .container .row .col-lg-7 .white-bg:hover>.integration-name {
  transform: scale(1.07)
}

 .container .row .col-lg-7 .wrapper {
  display: flex;
  justify-content: flex-end
}
@media(min-width: 768px) and (max-width:991px),(max-width:767px) {
  .container .row .col-lg-5 {
      text-align:center
  }

  .container .row .col-lg-5 h2 {
      width: 100%;
      margin: 1rem auto
  }
}

#faq>h1{
  text-align: center;
  margin-top: 100px;
  font-size: 44px;
  margin-bottom: 30px;
}
#faq{
  width: 80%;
  margin: auto;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-bottom:109px;
}
.div14{
  display: none;
  font-size: 16px;
  margin: 0px 0px 16px;
  margin-left: 30px;
  transition: display 550ms ease-in-out,transform 550ms ease-in-out;
  transform: translateY(-200px);
}
#faq>div:nth-child(2)>.div14:nth-child(2){
  display: block;
  transform: translateY(0px);
}
#faq>div{
  width: 100%;
  border-bottom: 1px solid rgba(6, 45, 41, 0.247);
  border-top: 1px solid rgba(6, 45, 41, 0.247);
  padding: 10px;
}
.divtext{
  font-size: 20px;
  padding: 8px 12px;
  font-weight: 600;
  background-color: #fff;
  border: 0px solid;
}
#last{
  padding: 3%;
  margin-top: 80px;
  width: 100%;
}
#last>p{
  margin-left: 10%;
  margin-bottom: -80px;
}
#last_1{
  width: 80%;
  display: flex;
  margin: 50px auto;
  justify-content: space-around;
  align-items: center;
}
#last_1>h1{
  font-size: 40px;
  width: 80%;
  padding-top: 38px;
}
#last_1 button{
  width: max-content;
  width: 180px;
}
#last_2 img{
  width: 100%;
}
#last_2{
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 20px;
}
 .pricing_firs {
    width: 220px;
    margin: 35px auto;
    position: relative;
    border-radius: 30px;
    background: #fff
   }
   
   
   #don_1 {
    padding: 10px 40px;
    cursor: pointer;
    width:300px;
    height:60px;
    /* background: transparent; */
    border: 0;
    position: relative;
    text-align: center;
    background-color:rgb(31, 241, 31);
    border-radius: 15px;
    margin-bottom:40px;
   }
   #don_2 {
    width:300px;
    height:60px;
    padding: 10px 40px;
    cursor: pointer;
    border: 0;
    position: relative;
    text-align: center;
    background-color:white;
    border-radius: 15px;
    margin-bottom:40px;
   }
   
   #select {
    background: #e67e22;
    border-radius: 30px;
   
   }

  @media(min-width: 0px) and (max-width: 640px){
#top{
  display:flex;
  width:auto;
}

  .top1>h1{
    text-align: center;
    margin-top: 180px;
    font-size: 20px;
    font-weight: 400;
  }
  .top1>p{
    text-align: center;
    font-size: 10px;
  }
  
  .top1>h2{
    text-align: center;
    font-size:10px
  }
  }
/* 
  @media screen and(max-width:1600){
    #top{
      flex-direction:column;
    
    }
    .top1>h1{
      text-align: center;
      margin-top: 180px;
      font-size: 30px;
      font-weight: 800;
    }
    .top1>p{
      text-align: center;
      font-size: 30px;
    }
    
    .top1>h2{
      text-align: center;
      font-size:40px;
  } */
  

 @media(min-width: 640px) and (max-width: 768px){


 }


 @media(min-width: 768px) and (max-width: 1024px){

 }

@media(min-width: 1280px){

}